<div class="div-form-template">
        <div class="wrapp-35"><img src="../images/hero_2.png" loading="lazy" alt="" class="form-img"></div>
        <div id="base" class="wedding-info-template w-form">
          <form action="/api/basic" method="POST" id="wf-form-Base-Package" name="wf-form-Base-Package" data-name="Base Package" redirect="https://square.link/u/Qd3Nl2Ho" data-redirect="https://square.link/u/Qd3Nl2Ho" class="basec-form-wrapp" data-wf-page-id="68f2add753fb3ab0a0df8b51" data-wf-element-id="fe2adda9-9918-a7e0-0393-ccb89e3b8b23">
            <div class="step-1-form">
              <h1 class="georgia-30px">Contact Details</h1>
              <div class="contact-info-form">
                <div class="div-field"><label for="B-Contact-Name" class="sf-regular-18px">Full Name</label><input class="templates-fields w-input" maxlength="256" name="B-Contact-Name" data-name="B | Contact Name" placeholder="Julia" type="text" id="B-Contact-Name"></div>
                <div class="div-field"><label for="B-Email-Address" class="sf-regular-18px">Email Address</label><input class="templates-fields w-input" maxlength="256" name="B-Email-Address" data-name="B | Email Address" placeholder="julia@gmail.com" type="email" id="B-Email-Address"></div>
              </div>
              <div class="url-code-ember w-embed w-script"><input type="hidden" name="page-url" id="page-url">
                <script>
                  (function () {
                    var el = document.getElementById("page-url");
                    if (el) el.value = window.location.href;
                  })();
                </script>
              </div>
            </div>
            <div class="step-1-form">
              <h1 class="georgia-30px">Wedding Info</h1>
              <div class="contact-info-form">
                <div class="div-field"><label for="B-Name-of-Partner-One" class="sf-regular-18px">Name of Partner One</label><input class="templates-fields w-input" maxlength="256" name="B-Name-of-Partner-One" data-name="B | Name of Partner One" placeholder="Olivia" type="text" id="B-Name-of-Partner-One"></div>
                <div class="div-field"><label for="B-Name-of-Partner-Two" class="sf-regular-18px">Name of Partner Two</label><input class="templates-fields w-input" maxlength="256" name="B-Name-of-Partner-Two" data-name="B | Name of Partner Two" placeholder="Lucas" type="text" id="B-Name-of-Partner-Two"></div>
              </div>
              <div class="div-field"><label for="Wedding-Day" class="sf-regular-18px">Wedding Day</label>
                <div class="field-wrap"><input class="date-field w-input" autocomplete="off" maxlength="256" name="B-Date" data-name="B | Date" placeholder="Select Date" data-toggle="datepicker" type="text" id="B-Date"><img loading="lazy" src="https://cdn.prod.website-files.com/68f15ee0a9294f6d491a2b7f/68f15ee3a9294f6d491a2c8b_Date.svg" alt="" class="field-icon"></div>
              </div>
              <div class="address-div">
                <div class="div-field"><label for="B-The-Ceremony-Address" class="sf-regular-18px">The Ceremony Address</label><input class="address-field w-input" maxlength="256" name="B-The-Ceremony-Address" data-name="B | The Ceremony Address" placeholder="Enter Ceremony Address" type="text" id="B-The-Ceremony-Address"></div><label class="w-checkbox same-address">
                  <div class="w-checkbox-input w-checkbox-input--inputType-custom check-same-address"></div><input type="checkbox" name="B-Same-Location" id="sameAddressCheckbox" data-name="B | Same Location" style="opacity:0;position:absolute;z-index:-1"><span class="sf-regular-18px w-form-label" for="B-Same-Location">   Same Location</span>
                </label>
                <div class="same-address-field"><label for="banquetAddress" class="sf-regular-18px">Banquet Address</label><input class="address-field w-input" maxlength="256" name="banquetAddress" data-name="banquetAddress" placeholder="Enter Banquet Address" type="text" id="banquetAddress"></div>
              </div>
              <div class="div-field"><label for="B-The-Day-s-Schedule" class="sf-regular-18px">The Day’s Schedule</label><textarea id="B-The-Day-s-Schedule" name="B-The-Day-s-Schedule" maxlength="5000" data-name="B | The Day’s Schedule" placeholder="3:00 pm - Ceremony Begins; 4:00 pm - Photos &amp; Cocktail Hour..." class="templates-fields textareasize white-space-pre-line w-input"></textarea></div>
              <div class="div-field"><label for="B-The-Day-s-Schedule" class="sf-regular-18px">Dress Code</label>
                <div class="column-colors">
                  <div class="w-embed"><input type="color" id="color1" name="color1" value="#3b3b9f">
                    <style>
#color1 {
  width: 70px;
  height: 70px;
  border-radius: 50%;       /* робить колірник круглим */
  border: 2px solid #ccc;             /* прибирає рамку */
  padding: 0;
  cursor: pointer;
  background: #FEFCFD;
  appearance: none;         /* прибирає стандартний вигляд */
  -webkit-appearance: none; /* Chrome / Safari */
  -moz-appearance: none;    /* Firefox */
  overflow: hidden;         /* щоб не виступав колірний квадрат */
}
/* Chrome / Edge / Safari */
#color1::-webkit-color-swatch-wrapper {
  padding: 0;
}
#color1::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
/* Firefox */
#color1::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}
</style>
                  </div>
                  <div class="w-embed"><input type="color" id="color2" name="color2" value="#a0c4ff">
                    <style>
#color2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;       /* робить колірник круглим */
  border: 2px solid #ccc;           /* прибирає рамку */
  padding: 0;
  cursor: pointer;
  background: #FEFCFD;
  appearance: none;         /* прибирає стандартний вигляд */
  -webkit-appearance: none; /* Chrome / Safari */
  -moz-appearance: none;    /* Firefox */
  overflow: hidden;         /* щоб не виступав колірний квадрат */
}
/* Chrome / Edge / Safari */
#color2::-webkit-color-swatch-wrapper {
  padding: 0;
}
#color2::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
/* Firefox */
#color2::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}
</style>
                  </div>
                  <div class="w-embed"><input type="color" id="color3" name="color3" value="#ffb703">
                    <style>
#color3 {
  width: 70px;
  height: 70px;
  border-radius: 50%;       /* робить колірник круглим */
  border: 2px solid #ccc;              /* прибирає рамку */
  padding: 0;
  cursor: pointer;
  background: #FEFCFD;
  appearance: none;         /* прибирає стандартний вигляд */
  -webkit-appearance: none; /* Chrome / Safari */
  -moz-appearance: none;    /* Firefox */
  overflow: hidden;         /* щоб не виступав колірний квадрат */
}
/* Chrome / Edge / Safari */
#color3::-webkit-color-swatch-wrapper {
  padding: 0;
}
#color3::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
/* Firefox */
#color3::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}
</style>
                  </div>
                  <div class="color4 w-embed"><input type="color" id="color4" name="color4" value="#ffffff">
                    <style>
#color4 {
  width: 70px;
  height: 70px;
  border-radius: 50%;       /* робить колірник круглим */
  border: 2px solid #ccc;          /* прибирає рамку */
  padding: 0;
  cursor: pointer;
  background: #FEFCFD;
  appearance: none;         /* прибирає стандартний вигляд */
  -webkit-appearance: none; /* Chrome / Safari */
  -moz-appearance: none;    /* Firefox */
  overflow: hidden;         /* щоб не виступав колірний квадрат */
}
/* Chrome / Edge / Safari */
#color4::-webkit-color-swatch-wrapper {
  padding: 0;
}
#color4::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
/* Firefox */
#color4::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}
</style>
                  </div>
                </div>
              </div>
            </div><input type="submit" data-wait="Please wait..." id="sendBtn" class="send-form-btn w-button" value="Pay">
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>


      