  <section class="faq-section"><img src="images/pione-1.png" loading="lazy" sizes="(max-width: 1299px) 100vw, 1299px" srcset="images/pione-1-p-500.png 500w, images/pione-1-p-800.png 800w, images/pione-1-p-1080.png 1080w, images/pione-1.png 1299w" alt="" class="pione-left"><img src="images/pione-2.png" loading="lazy" sizes="(max-width: 1042px) 100vw, 1042px" srcset="images/pione-2-p-500.png 500w, images/pione-2-p-800.png 800w, images/pione-2.png 1042w" alt="" class="pione-right-bottom">
    <div class="w-layout-blockcontainer container w-container">
      <div class="wrapp-hero">
        <div class="column-image"><img src="images/Frequently-Asked-Questions.png" loading="lazy" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 921px" srcset="images/Frequently-Asked-Questions-p-500.png 500w, images/Frequently-Asked-Questions-p-800.png 800w, images/Frequently-Asked-Questions.png 921w" alt="" class="faq-image"></div>
        <div class="column-faq">
          <div class="main-header">
            <div class="subheader-element">
              <div class="sf-thin-16px opasity50">Frequently Asked Questions</div>
              <div class="gap-10px">
                <div class="line-70x1"></div>
                <div class="_8x8-cuircle"></div>
                <div class="_6x6-cuircle"></div>
                <div class="_4x4-cuircle"></div>
              </div>
            </div>
            <div class="header-wrapp-gap20px">
              <h1 class="georgia-60px">We know that planning an event can feel overwhelming</h1>
              <div class="wrapp-75">
                <div class="sf-regular-18px">So we’ve gathered the most common questions our clients ask. Here you’ll find clear answers about choosing designs, customizing your invitation, delivery times, and more. If you don’t see your question here, feel free to reach out — we’re always happy to help!</div>
              </div>
            </div>
            <div class="faq-wrapper margin-xl">
              <div class="faq-block">
                <div class="faq-top">
                  <h5 class="sf-regular-18px">How do I send my digital invitation to guests?</h5><img loading="lazy" src="images/Chevron.svg" alt="Chevron" class="faq-arrow">
                </div>
                <div class="faq-bottom">
                  <p class="sf-regular-14px">You can easily share your invitation by sending the unique link through email, text message, or social media. Guests can open it on any device without needing an app.<br></p>
                </div>
              </div>
              <div class="faq-block">
                <div class="faq-top">
                  <h5 class="sf-regular-18px">Can I customize the design of my invitation?</h5><img loading="lazy" src="images/Chevron.svg" alt="Chevron" class="faq-arrow">
                </div>
                <div class="faq-bottom">
                  <p class="sf-regular-14px">Yes! You can personalize the colors, text, and layout to match your event theme. Our templates are flexible and easy to edit.<br></p>
                </div>
              </div>
              <div class="faq-block">
                <div class="faq-top">
                  <h5 class="sf-regular-18px">Do my guests need to create an account?</h5><img loading="lazy" src="images/Chevron.svg" alt="Chevron" class="faq-arrow">
                </div>
                <div class="faq-bottom">
                  <p class="sf-regular-14px">No, guests don’t need to register. They simply click the link and get instant access to your event details.<br></p>
                </div>
              </div>
              <div class="faq-block">
                <div class="faq-top">
                  <h5 class="sf-regular-18px">Can I update event details after sending the invitation?</h5><img loading="lazy" src="images/Chevron.svg" alt="Chevron" class="faq-arrow">
                </div>
                <div class="faq-bottom">
                  <p class="sf-regular-14px">Absolutely. You can edit the time, location, or other details anytime, and your guests will see the updated information immediately.<br></p>
                </div>
              </div>
              <div class="faq-block">
                <div class="faq-top">
                  <h5 class="sf-regular-18px">Is there a limit to the number of guests I can invite?</h5><img loading="lazy" src="images/Chevron.svg" alt="Chevron" class="faq-arrow">
                </div>
                <div class="faq-bottom">
                  <p class="sf-regular-14px">No, you can invite as many guests as you like. The system is built to handle events of all sizes.<br></p>
                </div>
              </div>
              <div class="faq-block">
                <div class="faq-top">
                  <h5 class="sf-regular-18px">When does the processing time start?</h5><img loading="lazy" src="images/Chevron.svg" alt="Chevron" class="faq-arrow">
                </div>
                <div class="faq-bottom">
                  <p class="sf-regular-14px">The processing time begins the next business day after we receive your completed order form. From that moment, the estimated delivery time will be calculated.<br></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>