  <section class="footer-section">
    <div class="w-layout-blockcontainer container w-container">
      <div class="footer-div">
        <div class="footer-row">
          <a href="#" class="footer-link-logo w-inline-block"><img src="images/linkDay-white.png" loading="lazy" alt=""></a>
          <div class="div-footer-links">
            <a href="templates.html" class="footer-logo w-inline-block">
              <div class="footer-regular-13px">Templates</div>
            </a>
            <a href="package.html" class="footer-logo w-inline-block">
              <div class="footer-regular-13px">Packages</div>
            </a>
            <a href="/#how-works" class="footer-logo w-inline-block">
              <div class="footer-regular-13px">how it works</div>
            </a>
            <a href="/#faq" class="footer-logo w-inline-block">
              <div class="footer-regular-13px">FAQ</div>
            </a>
            <a href="#" class="footer-logo w-inline-block">
              <div class="footer-regular-13px">Blog Posts</div>
            </a>
            <a href="contact.html" class="footer-logo w-inline-block">
              <div class="footer-regular-13px">Contact</div>
            </a>
          </div>
          <a href="mailto:linkdayweddinginvitation@gmail.com" class="footer-logo w-inline-block">
            <div class="footer-regular-13px email">linkdayweddinginvitation@gmail.com</div>
          </a>
        </div>
        <div class="footer-row">
          <a href="#" class="footer-logo w-inline-block">
            <div class="footer-regular-13px">© 2025, Relume. All Rights Reserved.</div>
          </a>
          <a href="#" class="footer-logo w-inline-block">
            <div class="footer-regular-13px">Privacy Policy</div>
          </a>
        </div>
      </div>
    </div>
  </section>