<section class="still-have-questions-section">
    <div class="w-layout-blockcontainer container w-container">
      <div class="faq-gap">
        <div class="column-image-form">
          <div class="main-header">
            <div class="header-wrapp-gap20px">
              <h1 class="georgia-60px white">Still have questions? We’re here to help!</h1>
              <div class="wrapp-75">
                <div class="sf-regular-18px white">It only takes a few minutes to kick off a project. Fill in the details below and we’ll be in touch.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="column-headers">
          <div class="quastions-form w-form">
            <form action="/api/contact" method="POST" id="email-form" name="email-form" data-name="Email Form" redirect="/thank-you-form" data-redirect="/thank-you-form" method="get" class="form-div" data-wf-page-id="68a78c84163592e44cad8591" data-wf-element-id="6924a641-ed00-d20e-4f4f-43b81a477db2">
              <div class="div-field"><label for="Full-Name" class="sf-regular-18px white">Your Name*</label><input class="field-form white w-input" maxlength="256" name="Full-Name" data-name="Full Name" placeholder="" type="text" id="Full-Name"></div>
              <div class="div-field"><label for="Contact-Email" class="sf-regular-18px white">Email*</label><input class="field-form white w-input" maxlength="256" name="Contact-Email" data-name="Contact-Email" placeholder="" type="email" id="Contact-Email"></div>
              <div class="div-field"><label for="Contact-Message" class="sf-regular-18px white">Message*</label><textarea id="Message" name="Contact-Message" maxlength="5000" data-name="Contact-Message" placeholder="" class="field-form-textarea w-input"></textarea></div><input type="submit" data-wait="Please wait..." class="send-btn w-button" value="Send">
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
